*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("th5.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#box{
    width: 45%;
    padding: 25px;
    box-shadow: 0px 0px 5px grey;
    background-color: blanchedalmond;
    border-radius: 5px;
}
.row{
    width: 100%;
    margin: 2rem;
    margin-left: 0;
}
.btn{
    width: 40%;
    padding: 5px;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    background-color: aqua;
}